/* Root variables  */

:root{

    /* color  */

    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-succes: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-infodark: #7d8da1;
    --color-infolight: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200, 0.18);
    --color-primary-varient: #111e88;
    --color-dark-varient: #677483;
    --color-background: #f6f6f9;

    /* border radius  */

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    /* padding  */

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}